/* default settings (layout only, NOT for typographic details) */
* {
  box-sizing: border-box;
}
a:link {
  text-decoration: none;
  color: #fff;
}
a:visited {
  text-decoration: none;
  color: #fff;
}
html {
  overflow-x: hidden;
}
body {
  background-color: #a0e0ff;
  font-family: "Fira Sans", sans-serif;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -ms-flex-direction: column;
      flex-direction: column;
  overflow-x: hidden;
}
/* custom modifications */
#page-header {
  position: relative;
  width: 70vw;
  max-width: 800px;
  margin: 20px auto;
  padding: 0 25px;
}
@media (max-width: 750px) {
  #page-header {
    width: 100vw;
  }
}
#page-header .title {
  font-family: 'Shadows Into Light', cursive;
  font-size: 5rem;
  margin-top: 0;
  margin-bottom: 10px;
}
@media (max-width: 750px) {
  #page-header .title {
    text-align: center;
    font-size: 2.5rem;
  }
}
@media (max-width: 350px) {
  #page-header .title {
    margin-left: 10px;
  }
}
#page-header .title .chippy-logo {
  width: 128px;
  height: auto;
  display: inline-block;
}
@media (max-width: 750px) {
  #page-header .title .chippy-logo {
    width: 72px;
  }
}
@media (max-width: 350px) {
  #page-header .title .chippy-logo {
    margin-left: -20px;
  }
}
#page-header .description {
  padding: 0 5px;
  font-size: 1.2rem;
  font-weight: 700;
}
@media (max-width: 750px) {
  #page-header .description {
    text-align: center;
    font-size: 1.1rem;
  }
}
@media (max-width: 350px) {
  #page-header .description {
    font-size: 1rem;
  }
}
#page-content {
  position: relative;
  background-color: #fff;
  width: 70vw;
  max-width: 800px;
  margin: 30px auto;
  padding: 30px;
  -ms-flex: 1;
      flex: 1;
}
@media (max-width: 750px) {
  #page-content {
    margin-top: 0;
    width: 90vw;
  }
}
@media (max-width: 350px) {
  #page-content {
    padding: 15px;
    font-size: 0.9rem;
  }
}
#page-content #generate #paragraph-number,
#page-content #generate #sentence-number {
  width: 3rem;
}
#page-content .chippy-ipsum {
  width: 100%;
}
#page-footer {
  width: 100%;
  background-color: black;
  color: white;
  padding: 0 20px;
  font-size: 0.8rem;
}
#page-footer a {
  color: white;
  text-decoration: none;
}
#page-footer a:hover {
  color: #d0d0d0;
}
